*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-container{
    height: 100px;
    background-color:lightseagreen;
    color: aliceblue;
    display: flex;
}

.logo{
    margin: 5px;
    padding: 20px;
    border: 2px white solid;
    border-radius: 10px;
}

.menu{
   margin-left: 1050px;
   padding: 40px;
   font-size: 18px;
   display: flex;
   align-items: center;
   
}

.about{
    margin-left: 10px;
    padding: 4px;
}

.btborder{
    padding: 4px;
    border: 2px white solid;
    border-radius: 10px;
}
   